
TLServer/obj/
TLServer/bin/
TLFrontEnd/bin/
TLFrontEnd/obj/
Test/
*.log
.vs/
RMLibs/bin/Debug/netcoreapp3.1/RMLibs.deps.json
RMLibs/bin/
RMLibs/obj/project.assets.json
RMLibs/obj/project.nuget.cache
RMLibs/obj/
TLFrontEnd/Properties/launchSettings.json
.idea/
packages/
TLFrontEnd/.config/
TLFrontEnd/Properties/PublishProfiles/FolderProfile.pubxml
TrainerLab/bin/Antlr3.Runtime.dll
TrainerLab/bin/
TrainerLab/obj/
RMLibs/Properties/
TLServer/Properties/
TrainerLab/Images/
TrainerLab.sln.DotSettings.user
