
TLServer/obj/
TLServer/bin/
TLFrontEnd/bin/
TLFrontEnd/obj/
Test/
*.log
.vs/
RMLibs/bin/Debug/netcoreapp3.1/RMLibs.deps.json
RMLibs/bin/
RMLibs/obj/project.assets.json
RMLibs/obj/project.nuget.cache
RMLibs/obj/
TLFrontEnd/Properties/launchSettings.json

.idea/.idea.TrainerLab/.idea/aws.xml

.idea/.idea.TrainerLab/.idea/encodings.xml

.idea/.idea.TrainerLab/.idea/indexLayout.xml

.idea/.idea.TrainerLab/.idea/sqldialects.xml

.idea/.idea.TrainerLab/.idea/vcs.xml
