<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.6"/>
        <httpRuntime targetFramework="4.6"/>
        <customErrors mode="Off"/>
        <trust level="Full"/>
    </system.web>
    <system.webServer>
        <security>
            <authentication>
                <!--basicAuthentication enabled="false"/ -->
            </authentication>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="52428800"/>
            </requestFiltering>
        </security>
        <modules>
            <remove name="WebDAVModule"/>
            <add name="BasicAuthHttpModule" type="TrainerLab.BasicAuthHttpModule, TrainerLab"/>
        </modules>
        <handlers>
            <remove name="WebDAV"/>
            <remove name="ExtensionlessUrl-Integrated-4.0"/>
            <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,DELETE,PUT,PATCH"
                 type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="Debug" value="true"/>
        <add key="DevDBHost" value="hostingmysql335.register.it"/>
        <add key="DevDBName" value="trainerlab_dev"/>
        <add key="DevDBPort" value="3306"/>
        <add key="DevDBUser" value="trainer_lab"/>
        <add key="DevDBPassword" value="Tr@1nerLab"/>
        <add key="ProdDBHost" value="hostingmysql335.register.it"/>
        <add key="ProdDBName" value="trainerlab"/>
        <add key="ProdDBPort" value="3306"/>
        <add key="ProdDBUser" value="trainer_lab"/>
        <add key="ProdDBPassword" value="Tr@1nerLab"/>
        <add key="LogName" value="TrainerLab"/>
        <add key="LogPath" value="Log/"/>
        <add key="Debug" value="true"/>
        <add key="Verbose" value="true"/>
        <add key="AppVersion" value="1.0"/>
        <add key="AppName" value="TrainerLab"/>
        <add key="DisplayName" value="Trainer Lab"/>
        <add key="Session" value="20"/>
        <add key="ImagePath" value="Images/"/>
        <add key="TemplatePath" value="Templates/"/>
        <add key="TmpPath" value="Tmp/"/>
    </appSettings>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                      compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
                      compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"
                      type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </compilers>
    </system.codedom>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35"
                                  culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>