@page
@{
}

<br />
<br />
<div class="col-lg-12" id="mainPg">

    <div class="container">
        <div class="card mb-0">
            <div class="card-header">
                <h3 class="h4 mb-0"><span class="material-symbols-outlined">calendar_month</span>&nbsp; Gestione Agenda</h3>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div id="calendar" class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var calendar = null;

    function init()
    {
        var calendarEl = document.getElementById('calendar');


        var options = {
            initialView: 'dayGridMonth',
            height: "auto",
            locale: 'it',
            headerToolbar: {
                left: 'dayGridMonth,timeGridWeek,timeGridDay',
                center: 'title',
                right: 'prevYear,prev,today,next,nextYear'
            },
            footerToolbar: {
                left: 'custom1,custom2',
                center: '',
                right: 'prev,next'
            },
        };

        calendar = new FullCalendar.Calendar(calendarEl, options);
        calendar.render();
    }


</script>