@page
@{
}

<br />
<br />
<div class="col-lg-12" id="mainPg">
    <div class="container">
        <div class="card mb-0">
            <div class="card-header">
                <h3 class="h4 mb-0"><span class="material-symbols-outlined">calendar_month</span>&nbsp; Gestione Agenda</h3>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div id="calendar" class="col-lg-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var calendar = null;

    function init()
    {
        var calendarEl = document.getElementById('calendar');

        var options = {
            themeSystem: 'bootstrap5',
            initialView: 'dayGridMonth',
            height: "auto",
            locale: 'it',
            headerToolbar: {
                left: 'dayGridMonth,timeGridWeek,timeGridDay',
                center: 'title',
                right: null
            },
            footerToolbar: {
                left: 'prevYear,prev,today,next,nextYear',               
            },
            buttonText:
            {
                today: 'oggi',
                month: 'mese',
                week: 'settimana',
                day: 'giorno',
                list: 'lista'
            },
            datesSet: refreshEvents
        };

        calendar = new FullCalendar.Calendar(calendarEl, options);
        calendar.render();
    }

    function refreshEvents(e)
    {
        var events = calendar.getEvents();
        events.forEach(e => { e.remove(); });

        var interval = new Object();

        interval.Start = dateForCSharp(e.start);
        interval.End = dateForCSharp(e.end);

        ajaxCall(SCHEDULER_SLOT, "POST", JSON.stringify(interval), gotEvents)
    }

    function gotEvents(data)
    {
        if (!data.Outcome)
        {
            alertify.error(data.Message);
            return;
        }
        {
            data.Data.forEach(e => {

                var event = new Object();
                event.id = e.Id;
                event.start = e.StartDateTime;
                event.end = e.EndDateTime;
                event.title = e.Status;
                event.description = e.FirstName + " " + e.LastName;

                if (e.Status == "FREE")
                {
                    event.title = "Libero";
                    event.backgroundColor = 'green';
                    event.description = "Libero";
                }
                if (e.Status == "BOOKED") {
                    event.title = e.FirstName + " " + e.LastName;
                    event.backgroundColor = 'red';
                    event.description = e.Email;
                }
                if (e.Status == "BUSY") {
                    event.title = "Non disponibile";
                    event.backgroundColor = 'gray';
                    event.description = e.Email;
                }
                if (e.Status == "CONFIRMED") {
                    event.title = e.FirstName + " " + e.LastName;
                    event.backgroundColor = 'orange';
                    event.description = e.Email;
                }
               

                calendar.addEvent(event);
            });
        }
    }


</script>